<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>edit frutas</title>
</head>
<body>
    <br>
    <br>
    <h1>Fruta a editar</h1>
    <br>
    <form action="/update/{{listId[0]}}" method="POST">
        <label for="txtFruta">Fruta:</label>
        <input type="text" name="txtFruta" value="{{listId[1]}}">
        
        <label for="txtTemporada">Temporada:</label>
        <input type="text" name="txtTemporada" value="{{listId[2]}}">
        
        <label for="txtPrecio">Precio:</label>
        <input type="number" name="txtPrecio" value="{{listId[3]}}">
        
        <label for="txtStock">Stock:</label>
        <input type="number" name="txtStock" value="{{listId[4]}}">
        
        <button type="submit">Actualizar</button>
    </form>
    <br>
</body>
</html>
