{% extends 'plantilla.html'%}
{% block body %}
    <h1>Seguro que quieres borrar!!</h1>
    <br>
    <form action="/delete/{{listIdDlt[0]}}" method="POST">
        <input type="text" name="txtTitulo" value="{{listIdDlt[1]}}">
        <input type="text" name="txtArtista" value="{{listIdDlt[2]}}">
        <input type="number" name="txtAnio" value="{{listIdDlt[3]}}">
        <button type="submit" name="action" value="delete">Borrar</button>
        <button type="submit" name="action" value="cancel">Cancelar</button>
    </form>
{% endblock %}